@model ShoesStore.Domain.Entities.Data.Category

<div class="modal-header">
    <h3 class="modal-title fs-5 text-e text-uppercase" id="staticBackdropLabel">Xóa dữ liệu này khỏi table</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <div class="form-group mb-3">
        <p class="text-danger text-uppercase">Hành động này không thể hoàn tác.</p>
    </div>

    <div class="row">
        <div class="form-group col-md-6 mb-3">
            <label asp-for="@Model.Name" class="control-label"></label>
            <input asp-for="@Model.Name" class="form-control" disabled readonly />
        </div>
        <div class="form-group col-md-6 mb-3">
            <label asp-for="@Model.Description" class="control-label"></label>
            <input asp-for="@Model.Description" class="form-control" disabled readonly />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6 mb-3">
            <label asp-for="@Model.CreatedAt" class="control-label"></label>
            <input asp-for="@Model.CreatedAt" class="form-control" disabled readonly />
        </div>
        <div class="form-group col-md-6 mb-3">
            <label asp-for="@Model.UpdatedAt" class="control-label"></label>
            <input asp-for="@Model.UpdatedAt" class="form-control" disabled readonly />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-12 mb-3">
            @if (Model.ImageUrl != null && Model.ImageUrl.Length > 0)
            {
                <label>Ảnh hiện tại</label>
                <div>
                    <img id="preview"
                         src="@(Model.ImageRenderedUrl)"
                         alt="preview" class="img-thumbnail"
                         style="max-width: 100%; height: 150px;" />
                </div>
            }
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm mt-1" data-bs-dismiss="modal">Đóng</button>
    <button type="button" class="btn btn-danger btn-sm mt-1" onclick="deleteCategory(@Model.Id)">Xác nhận xóa</button>
</div> 